{{#contentFor "scripts"}}
<script src="/assets/js/index.js{{cache_ver}}" defer=""></script>
{{/contentFor}}

{{#contentFor "meta"}}
<meta property="og:title" content="Mini jeux" />
<meta property="og:site_name" content="etiennemr.fr" />
<meta property="og:type" content="game" />
<meta property="og:description" content="Tu veux défier un ami ? Ou simplement t'amuser ?" />
{{/contentFor}}

<form class="card username-box" id="user">
    <h3><label for="user-name">Pseudo</label></h3>
    <input id="user-name" type="text" autocomplete="username" required="" minlength="3" maxlength="15">
    <br><br>
    <button>Valider</button>
</form>

<div class="cards">
    {{#each games }}
    <div>
        <h3>{{this.title}}</h3>
        <img src="/assets/img/{{this.id}}.png">
        <hr>
        <p>{{this.desc}}</p>
        <hr>
        <a class="play-btn" title="Jouer" href="/{{this.id}}">
            <i class="bx bx-play"></i>
        </a>
    </div>
    {{/each}}
    <div>
        <form id="party">
            <h3>Rejoindre à partir d'un code</h3>
            <img src="/assets/img/batonnets.png">
            <hr>
            <p class="center">
                <label for="party-code">Code de session</label>
                <input id="party-code" class="code4digit" type="text" minlength="4" maxlength="4" placeholder="0000"
                    required="" autocomplete="off" list="party-history">
            </p>
            <hr>
            <button class="play-btn" title="Jouer" href="#">
                <i class="bx bx-play"></i>
            </button>
            <datalist id="party-history"></datalist>
        </form>
    </div>
</div>